.picture {
  margin: 50px 0px 0px 50px;
  max-height: 20rem;
}

.filmography-list {
  margin: 50px 0px 50px 0px;
  list-style-type: none;
  text-align: left;
}

.filmography-list-item {
  padding: 2px 2px;
  margin: 5px 5px;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 100;
}
